

@media screen and (max-width: 549px) {
  .deck {
    width: 310px;
    min-height: 300px;
  }
  .deck .card {
    height: 50px;
    width: 50px;
    margin-bottom: 3px;
  }

  .score-panel {
    width: 310px;
  }
}

@media screen and (min-width: 550px) and (max-width: 800px) {
   .deck {
    width: 550px;
    min-height: 500px;
  }
  .deck .card {
    height: 100px;
    width: 100px;
    margin-bottom: 3px;
  }

  .score-panel {
    width: 550px;
  }
}
